#
# Referência:
# https://www.baeldung.com/linux/run-java-application-as-service
#
[Unit]
Description=Pereira da Costa Java Application Service
After=rsyslog.service

[Service]
# Grupo e usuários precisam ser criados, ou alterados aqui para valores existentes
User=jvmapps
Group=appmgr

SuccessExitStatus=143
RestartSec=10
Restart=on-failure
Type=simple

# MICRONAUT_ENVIRONMENTS pode ser qualquer valor que faça sentido para
# o ambiente, mas NÃO deve ser "dev" para evitar de carregar configurações
# usadas no modo desenvolvimento.
Environment="MICRONAUT_ENVIRONMENTS=baremetal"

# MUST be consistent with what is defined in nginx proxy pass
# location for this application.
Environment="PEREIRA_DA_COSTA_PORT=8082"
Environment="PEREIRA_DA_COSTA_PATH=/pereira-da-costa"

# Valores apenas de exemplo, mas nos testes que fiz essa quantidade de memoria parecia suficiente.
WorkingDirectory=/opt/javaapps
ExecStart=/usr/bin/java -Xms128m -Xmx256m -jar pereira-da-costa-all.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target

